{% extends 'codeFrontEnd/themes/base/base.html' %}
{% load humanize %}
{% load static %}

{% block title %}{{ comercio.nombre }}{% endblock %}
    
{% block customHead %}{% endblock %}

{% block customcss %}
    <style>
        .site-blocks-cover h1 {
            font-size: 3.5rem;
            font-weight: 400;
            color: #fff;
            font-weight: 900;
        }
    </style>
{% endblock %}

{% block customContent %}
    <div class="site-blocks-cover overlay" style="background-image: url({{comercio.img_superior.url}});" data-aos="fade" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-12" data-aos="fade-up" data-aos-delay="400">
                    <div class="row mb-4">
                        <div class="col-md-12">
                            <h1 class="slogan">{{comercio.eslogan}}</h1>
                            <div>
                                <a href="#products-section" class="btn btn-white btn-outline-white py-3 px-5 rounded-0 mb-lg-0 mb-2 d-block d-sm-inline-block">Ver productos</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="site-section" id="about-section">
        <div class="container">
            <div class="row align-items-lg-center">
                <div class="col-md-6 mb-5 mb-lg-0 position-relative">
                    <img src="{{comercio.img_acercade.url}}" class="img-fluid" alt="Image">
                    <div class="experience">
                    <span class="year">Acerca de nosotros</span>
                    <span class="caption"></span>
                    </div>
                </div>
                <div class="col-md-6 ml-auto">
                    {% comment %} <h3 class="section-sub-title">Merchant Company</h3>
                    <h2 class="section-title mb-3">About Us</h2> {% endcomment %}
                    <p class="mb-4">{{ comercio.descripcion|safe }}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="site-section" id="products-section">
        <div class="container">
            <div class="row mb-5 justify-content-center">
                <div class="col-md-6 text-center">
                    <h3 class="section-sub-title">Listado productos</h3>
                    <h2 class="section-title mb-3">Nuestros productos</h2>
                </div>
            </div>
            <div class="row">
                {% for producto in productos %}
                    <div class="col-lg-4 col-md-6 mb-5">
                        <div class="product-item">
                            <figure>
                                {% load codeFrontEnd_extras %}
                                {% get_ImagenPrincipal producto.id as ImagenPrincipal %}
                                <img src="{{ImagenPrincipal}}" alt="Image" class="img-fluid">
                            </figure>
                            <div class="px-4">
                                <h3><a href="{% url 'comercio:producto' comercio_slug=comercio.slug|slugify pk=producto.id prod_slug=producto.nombre|slugify  %}">{{producto.nombre}}</a></h3>
                                {% comment %} <div class="mb-3">
                                    <span class="meta-icons mr-3"><a href="#" class="mr-2"><span class="icon-star text-warning"></span></a> 5.0</span>
                                    <span class="meta-icons wishlist"><a href="#" class="mr-2"><span class="icon-heart"></span></a> 29</span>
                                </div> {% endcomment %}
                                <p class="mb-4">{{producto.descripcion|slice:"0:60"|safe}}...</p>
                                <div>
                                    <span class="btn btn-black mr-1 rounded-0" style="cursor: default; font-weight: 100; font-size: .95rem;">₡{{producto.precio|intcomma}}</span>
                                    <button type="button" class="btn btn-black btn-outline-black ml-1 rounded-0" style="font-size: .95rem;" data-toggle="modal" data-target="#staticBackdrop" onclick="datosVistaRap({{producto.id}})">Vista rápida</button>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" id="{{producto.id}}_nombre" value="{{producto.nombre}}">
                        <input type="hidden" id="{{producto.id}}_precio" value="{{producto.precio|intcomma}}">
                        <textarea style="display:none;" id="{{producto.id}}_descripcion" >{{producto.descripcion}}</textarea>
                        <textarea style="display:none;" id="{{producto.id}}_imagenes" >
                            [
                                ""
                                {% load codeFrontEnd_extras %}
                                {% get_Imagenes producto.id as ImagenesProducto %}
                                {% for img in ImagenesProducto %}
                                    , "{{img}}"
                                {% endfor%}
                            ]
                        </textarea>
                    </div>
                {% endfor%}

            </div>
        </div>
    </div>
{% endblock %}

{% block customjs %}
    <script>
        function datosVistaRap(id){
            $("#VR_nombre").html($(`#${id}_nombre`).val())
            $("#VR_descripcion").html("<p>"+$(`#${id}_descripcion`).val()+"</p>")
            $("#VR_precio").html("₡"+$(`#${id}_precio`).val())
            var imagenes = JSON.parse($(`#${id}_imagenes`).val())

            var VR_imagenes = ''
            imagenes.forEach(function (img, index) {
                if(img != ''){
                    console.log(img)
                    VR_imagenes = `${VR_imagenes}
                        <img class="owl-lazy" data-src="${img}" alt="">
                    `
                }
            })
            $("#VR_imagenes").html(VR_imagenes)
            reiniciarOwlCarrousel()
        }
    </script>
{% endblock %}