{% extends 'codeFrontEnd/themes/base/base.html' %}
{% load humanize %}
{% load static %}
{% load codeFrontEnd_extras %}

{% block title %}{{producto.nombre}} | {{ comercio.nombre }}{% endblock %}

{% block customHead %}{% endblock %}

{% block customContent %}
    <div class="site-section bg-light bg-light-custom">
        <div class="container">
            <div class="bg-white pt-6">
                <div class="row mx-4 my-4 product-item-2 align-items-start pt-3">
                    <div class="col-md-6 mb-5 mb-md-0 order-1 order-md-2">
                        <div class="owl-carousel owl-theme">
                            {% get_Imagenes producto.id as ImagenesProducto %}
                            {% for img in ImagenesProducto %}
                                <img class="owl-lazy" data-src="{{img}}" alt="">
                            {% endfor%}
                        </div>
                    </div>
                
                    <div class="col-md-5 ml-auto product-title-wrap order-2 order-md-1">
                        <h3 class="text-black mb-4 font-weight-bold">{{producto.nombre}}</h3>
                        <div class="mb-4"><p>{{producto.descripcion|safe}}</p></div>
                        
                        <div class="mb-4"> 
                            <h3 class="text-black font-weight-bold h5">Precio:</h3>
                            <div class="price">₡{{producto.precio|intcomma}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="site-section" id="products-section">
        <div class="container">
            <div class="row mb-5 justify-content-center">
                <div class="col-md-6 text-center">
                    <h3 class="section-sub-title">Productos relacionados</h3>
                    <h2 class="section-title mb-3">Otros productos</h2>
                </div>
            </div>
            <div class="row">
                {% for producto in productos %}
                    <div class="col-lg-4 col-md-6 mb-5">
                        <div class="product-item">
                            {% encoded_id producto.id as id_encryptado %}
                            <a href="{% url 'comercio:producto' comercio_slug=comercio.slug|slugify pk=id_encryptado prod_slug=producto.nombre|slugify  %}">
                                <figure>
                                    {% get_ImagenPrincipal producto.id as ImagenPrincipal %}
                                    <img src="{{ImagenPrincipal}}" alt="Image" class="img-fluid">
                                </figure>
                            </a>
                            <div class="px-4">
                                <h3><a href="{% url 'comercio:producto' comercio_slug=comercio.slug|slugify pk=id_encryptado prod_slug=producto.nombre|slugify  %}">{{producto.nombre}}</a></h3>
                                {% comment %} <div class="mb-3">
                                    <span class="meta-icons mr-3"><a href="#" class="mr-2"><span class="icon-star text-warning"></span></a> 5.0</span>
                                    <span class="meta-icons wishlist"><a href="#" class="mr-2"><span class="icon-heart"></span></a> 29</span>
                                </div> {% endcomment %}
                                <p class="mb-4">{{producto.descripcion|slice:"0:60"|safe}}...</p>
                                <div>
                                    <span class="btn btn-black mr-1 rounded-0" style="cursor: default; font-weight: 100;">₡{{producto.precio|intcomma}}</span>
                                    <button type="button" class="btn btn-black btn-outline-black ml-1 rounded-0" data-toggle="modal" data-target="#staticBackdrop" onclick="datosVistaRap({{producto.id}})">Vista rápida</button>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" id="{{producto.id}}_nombre" value="{{producto.nombre}}">
                        <input type="hidden" id="{{producto.id}}_precio" value="{{producto.precio|intcomma}}">
                        <textarea style="display:none;" id="{{producto.id}}_descripcion" >{{producto.descripcion}}</textarea>
                        <textarea style="display:none;" id="{{producto.id}}_imagenes" >
                            [
                                ""
                                {% get_Imagenes producto.id as ImagenesProducto %}
                                {% for img in ImagenesProducto %}
                                    , "{{img}}"
                                {% endfor%}
                            ]
                        </textarea>
                    </div>
                {% endfor%}
            </div>
        </div>
    </div>
{% endblock %}

{% block customjs %}
    <script>
        function datosVistaRap(id){
            $("#VR_nombre").html($(`#${id}_nombre`).val())
            $("#VR_descripcion").html("<p>"+$(`#${id}_descripcion`).val()+"</p>")
            $("#VR_precio").html("₡"+$(`#${id}_precio`).val())
            var imagenes = JSON.parse($(`#${id}_imagenes`).val())

            var VR_imagenes = ''
            imagenes.forEach(function (img, index) {
                if(img != ''){
                    console.log(img)
                    VR_imagenes = `${VR_imagenes}
                        <img class="owl-lazy" data-src="${img}" alt="">
                    `
                }
            })
            $("#VR_imagenes").html(VR_imagenes)
            reiniciarOwlCarrousel()
        }
    </script>
{% endblock %}