{% extends 'codeFrontEnd/themes/base/base.html' %}
{% load humanize %}
{% load static %}
{% load codeFrontEnd_extras %}

{% block title %}{{ comercio.nombre }}{% endblock %}
    
{% block customHead %}{% endblock %}

{% block customcss %}
    <style>
        .site-blocks-cover h1 {
            font-size: 3.5rem;
            font-weight: 400;
            color: #fff;
            font-weight: 900;
        }

        .page-link {
            position: relative;
            display: block;
            padding: .5rem .75rem;
            margin-left: -1px;
            line-height: 1.25;
            color: black;
            background-color: #fff;
            border: 1px solid black;
            font-weight: bold;
        }

        .page-item.active .page-link {
            z-index: 3;
            color: #fff;
            background-color: black;
            border-color: black;
        }

        .page-link:hover {
            z-index: 2;
            color: white;
            text-decoration: none;
            background-color: black;
            border-color: black;
        }
    </style>
{% endblock %}

{% block customContent %}
    <div class="site-section" id="products-section">
        <div class="container">
            <div class="row mb-5 justify-content-center">
                <div class="col-md-6 text-center">
                    <h3 class="section-sub-title">Listado productos</h3>
                    <h2 class="section-title mb-3">Nuestros productos</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <p>Mostranto página {{ productos.number }} de {{ productos.paginator.num_pages }}</p>
                </div>
                {% for producto in productos %}
                    <div class="col-lg-4 col-md-6 mb-5">
                        <div class="product-item">
                            {% encoded_id producto.id as id_encryptado %}
                            <a href="{% url 'comercio:producto' comercio_slug=comercio.slug|slugify pk=id_encryptado prod_slug=producto.nombre|slugify  %}">
                                <figure>
                                    {% get_ImagenPrincipal producto.id as ImagenPrincipal %}
                                    <img src="{{ImagenPrincipal}}" alt="Image" class="img-fluid">
                                </figure>
                            </a>
                            <div class="px-4">
                                <h3><a href="{% url 'comercio:producto' comercio_slug=comercio.slug|slugify pk=id_encryptado prod_slug=producto.nombre|slugify  %}">{{producto.nombre}}</a></h3>
                                {% comment %} <div class="mb-3">
                                    <span class="meta-icons mr-3"><a href="#" class="mr-2"><span class="icon-star text-warning"></span></a> 5.0</span>
                                    <span class="meta-icons wishlist"><a href="#" class="mr-2"><span class="icon-heart"></span></a> 29</span>
                                </div> {% endcomment %}
                                <p class="mb-4">{{producto.descripcion|slice:"0:60"|safe}}...</p>
                                <div>
                                    <span class="btn btn-black mr-1 rounded-0" style="cursor: default; font-weight: 100; font-size: .95rem;">₡{{producto.precio|intcomma}}</span>
                                    <button type="button" class="btn btn-black btn-outline-black ml-1 rounded-0" style="font-size: .95rem;" data-toggle="modal" data-target="#staticBackdrop" onclick="datosVistaRap({{producto.id}})">Vista rápida</button>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" id="{{producto.id}}_nombre" value="{{producto.nombre}}">
                        <input type="hidden" id="{{producto.id}}_precio" value="{{producto.precio|intcomma}}">
                        <textarea style="display:none;" id="{{producto.id}}_descripcion" >{{producto.descripcion}}</textarea>
                        <textarea style="display:none;" id="{{producto.id}}_imagenes" >
                            [
                                ""
                                {% get_Imagenes producto.id as ImagenesProducto %}
                                {% for img in ImagenesProducto %}
                                    , "{{img}}"
                                {% endfor%}
                            ]
                        </textarea>
                    </div>
                {% endfor%}

                <div class="col-sm-12 d-flex justify-content-center">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            {% if productos.has_other_pages %}
                                {% if productos.has_previous %}
                                    <li class="page-item"><a class="page-link" href="?page=1"><<</a></li>
                                    <li class="page-item"><a class="page-link" href="?page={{ productos.previous_page_number }}"><</a></li>
                                {% endif %}

                                {% for i in productos.paginator.page_range %}
                                    {% if productos.number == i %}
                                        <li class="page-item active"><a class="page-link">{{ i }}</a></li>
                                    {% else %}
                                        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                    {% endif %}
                                {% endfor %}

                                {% if productos.has_next %}
                                    <li class="page-item"><a class="page-link" href="?page={{ productos.next_page_number }}">></a></li>
                                    <li class="page-item"><a class="page-link" href="?page={{ productos.paginator.num_pages }}">>></a></li>
                                {% endif %}
                            {% endif %}
                        </ul>
                    </nav>
                    
                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block customjs %}
    <script>
        function datosVistaRap(id){
            $("#VR_nombre").html($(`#${id}_nombre`).val())
            $("#VR_descripcion").html("<p>"+$(`#${id}_descripcion`).val()+"</p>")
            $("#VR_precio").html("₡"+$(`#${id}_precio`).val())
            var imagenes = JSON.parse($(`#${id}_imagenes`).val())

            var VR_imagenes = ''
            imagenes.forEach(function (img, index) {
                if(img != ''){
                    console.log(img)
                    VR_imagenes = `${VR_imagenes}
                        <img class="owl-lazy" data-src="${img}" alt="">
                    `
                }
            })
            $("#VR_imagenes").html(VR_imagenes)
            reiniciarOwlCarrousel()
        }
    </script>
{% endblock %}