{% extends 'codeFrontEnd/themes/malefashion/base.html' %}
{% load humanize %}
{% load static %}
{% load codeFrontEnd_extras %}

{% block title %}{{ comercio.nombre }}{% endblock %}

{% block customContent %}
    <!-- About Section Begin -->
    <section class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="about__pic">
                        <img src="{{comercio.img_acercade.url}}" alt="">
                    </div>
                </div>
                
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="about__item">
                        <h4>Acerca de nosotros</h4>
                        {{ comercio.descripcion|safe }}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About Section End -->
{% endblock %}