{% extends 'coreAdmin/base.html' %}
{% load humanize %}
{% load static %}
{% block title %}{{ object }} | Borrar producto{% endblock %}

{% block customHead %}
        <link href="{% static 'admin/assets/dataTables/css/dataTables.bootstrap4.css' %}" rel="stylesheet"  type="text/css"/>
{% endblock %}

{% block customCss %}
    <style>
        tbody tr td{ color: #ffffff; }
        tbody tr td a{ color: #5C9FF1; padding-left: 10px; }
        .estado .alert{
            background-color: rgba(255,255,255,.05);
            margin-top: 10px;
            padding: .8rem 1rem;
        }
    </style>
{% endblock %}

{% block content %}
                    <div class="panel-header bg-primary-gradient">
                        <div class="page-inner py-5">
                            <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
                                <div>
                                    <h2 class="text-white pb-2 fw-bold">Borrar producto</h2>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="page-inner mt--5">
                        <div class="row mt--2">

                            <div class="col-md-12 row">

                                <div class="col-md-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <form action="" method="post">{% csrf_token %}
                                                <h2 class="text-white">¿Estás seguro de que quieres borrar "<b>{{ object }}</b>"?</h2>
                                                <input type="submit"  class="btn btn-danger float-right" value="Sí, borrar el producto {{ page }}" />
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
{% endblock %}
