{% load static %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Micro Comercios">
        <meta name="keywords" content="micro comercios,micro,comercios">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="icon" href="/static/codeBackEnd/admin/img/favicon.png" type="image/x-icon"/>
        <link rel="icon" href="{% static 'codeHome/img/favicon.png' %}" type="image/x-icon"/>
        <title>Micro Comercios</title>

        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900&display=swap"
            rel="stylesheet">

        <!-- Css Styles -->
        <link rel="stylesheet" href="{% static 'codeHome/css/bootstrap.min.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'codeHome/css/elegant-icons.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'codeHome/css/flaticon.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'codeHome/css/owl.carousel.min.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'codeHome/css/slicknav.min.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'codeHome/css/style.css' %}" type="text/css">

        <style>
            .span-links {
                unicode-bidi: bidi-override;
                direction: rtl;
            }

            svg{ max-width: 100%; }

            .header__menu ul li a:after { 
                height: 20% !important; 
                bottom: -1px;
                background: #FFD92E;
            }
            .header__info {
                padding: 10px 0 !important;
                border-bottom: 1px solid #00357D !important;
                background: #00357D !important;
            }

            .footer__top::before { background: #004193 !important; }
            .footer__top::after { background: #005aa6 !important; }
            .header-section.header-normal { background: #002E6B !important; }

            .btn-inferior:hover{ background: #fff; color: #002E6B; }
            .btn-inferior.sign-up{ border: 2px solid #fff; }

            .primary-btn{ background: #002E6B; }
            .footer__text-widget .footer__widget-info li span {
                color: #ffffff;
            }

            .footer__text-copyright { border-top: 1px solid #FFD92E; }
        </style>
        <script src="https://kit.fontawesome.com/0265b153d4.js" ></script>

        {% block customCss %}{% endblock %}
    </head>

    <body>
        <!-- Page Preloder -->
        <div id="preloder">
            <div class="loader"></div>
        </div>

        <!-- Offcanvas Menu Begin -->
        <div class="offcanvas__menu__overlay"></div>

        <div class="offcanvas__menu__wrapper">
            <div class="canvas__close">
                <span class="fa fa-times-circle-o"></span>
            </div>
            <div class="offcanvas__logo">
                <a href="#"><img src="{% static 'codeHome/img/logo.png' %}" alt=""></a>
            </div>
            <nav class="offcanvas__menu mobile-menu">
                <ul>
                    <li class="{% if request.path == "/" %}active{% endif %}"><a href="{% url 'codeHome:inicio'%}">Home</a></li>
                    <li class="{% if request.path == "/acerca-de" %}active{% endif %}"><a href="{% url 'codeHome:about'%}">Acerca de</a></li>
                    <li class="{% if request.path == "/clientes" %}active{% endif %}"><a href="{% url 'codeHome:clients'%}">Clientes</a></li>
                    {% comment %} 
                    <li><a href="./hosting.html">Hosting</a></li>
                    <li><a href="#">Pages</a>
                        <ul class="dropdown">
                            <li><a href="./pricing.html">Pricing</a></li>
                            <li><a href="./blog-details.html">Blog Details</a></li>
                            <li><a href="./404.html">404</a></li>
                        </ul>
                    </li>
                    <li><a href="./blog.html">News</a></li>
                    <li><a href="./contact.html">Contact</a></li> {% endcomment %}
                </ul>
            </nav>
            <div id="mobile-menu-wrap"></div>
            <div class="offcanvas__auth">
                <ul>
                    <li><a href="{% url 'login'%}"><span class="fa fa-user"></span> Ingresar</a></li>
                    <li><a href="{% url 'coreAdmin:signup'%}"><span class="fas fa-user-plus"></span> Registrarme</a></li>
                </ul>
            </div>
            <div class="offcanvas__info">
                <ul>
                    {% comment %} <li><span class="icon_phone"></span> +1 123-456-7890</li> {% endcomment %}
                    <li><span class="fa fa-envelope"></span> <label class="span-links">moc.soidutsyxer@ofni</label></li>
                </ul>
            </div>
        </div>
        <!-- Offcanvas Menu End -->

        <!-- Header Section Begin -->
        <header class="header-section {% if request.path != "/" %} header-normal {% endif %}">
            <div class="header__info">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="header__info-left">
                                <ul>
                                    {% comment %} <li><span class="icon_phone"></span> +1 000-000-0000</li> {% endcomment %}
                                    <li><span class="fa fa-envelope"></span> <label class="span-links">moc.soidutsyxer@ofni</label></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="header__info-right">
                                <ul>
                                    {% comment %} <li><a href="#"><span class="icon_chat_alt"></span> Live chat</a></li> {% endcomment %}
                                    <li><a href="{% url 'login'%}"><span class="fa fa-user"></span> Ingresar</a></li>
                                    <li><a href="#">/</a></li>
                                    <li><a href="{% url 'coreAdmin:signup'%}"> Registrarme</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-3">
                        <div class="header__logo">
                            <a href="{% url 'codeHome:inicio'%}"><img style="max-height: 50px;" src="{% static 'codeHome/img/logo.png' %}" alt=""></a>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-9">
                        <nav class="header__menu">
                            <ul>
                                <li class="{% if request.path == "/" %}active{% endif %}"><a href="{% url 'codeHome:inicio'%}">Inicio</a></li>
                                <li class="{% if request.path == "/acerca-de" %}active{% endif %}"><a href="{% url 'codeHome:about'%}">Acerca de</a></li>
                                <li class="{% if request.path == "/clientes" %}active{% endif %}"><a href="{% url 'codeHome:clients'%}">Clientes</a></li>
                                {% comment %} 
                                <li><a href="./hosting.html">Hosting</a></li>
                                <li><a href="#">Pages</a>
                                    <ul class="dropdown">
                                        <li><a href="./pricing.html">Pricing</a></li>
                                        <li><a href="./blog-details.html">Blog Details</a></li>
                                        <li><a href="./404.html">404</a></li>
                                    </ul>
                                </li>
                                <li><a href="./blog.html">News</a></li>
                                <li><a href="./contact.html">Contact</a></li> {% endcomment %}
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="canvas__open">
                    <span class="fa fa-bars"></span>
                </div>
            </div>
        </header>
        <!-- Header End -->

        {% block customContent %}{% endblock %}

        <!-- Footer Section Begin -->
        <footer class="footer-section">
            <div class="footer__top">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="footer__top-call">
                                <h5>Únete y crea tu comercio ahora</h5>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="footer__top-auth">
                                <a href="{% url 'login'%}" class="primary-btn btn-inferior">Ingresar</a>
                                <a href="{% url 'coreAdmin:signup'%}" class="primary-btn btn-inferior sign-up">Registrarme</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer__text set-bg" data-setbg="{% static 'codeHome/img/footer-bg.png' %}">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="footer__text-about">
                                <div class="footer__logo">
                                    <a href="./index.html"><img src="{% static 'codeHome/img/logo.png' %}" alt=""></a>
                                </div>
                                <p style="color: #fff;">Potenciando los micro emprendimientos en tiempos difíciles</p>
                                {% comment %} <div class="footer__social">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-youtube-play"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                </div> {% endcomment %}
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6 col-sm-6">
                            {% comment %} <div class="footer__text-widget">
                                <h5>Company</h5>
                                <ul>
                                    <li><a href="#">Company</a></li>
                                    <li><a href="#">About Us</a></li>
                                    <li><a href="#">Press & Media</a></li>
                                    <li><a href="#">News / Blogs</a></li>
                                    <li><a href="#">Careers</a></li>
                                </ul>
                            </div> {% endcomment %}
                        </div>
                        <div class="col-lg-2 col-md-6 col-sm-6">
                            {% comment %} <div class="footer__text-widget">
                                <h5>Hosting</h5>
                                <ul>
                                    <li><a href="#">Web Hosting</a></li>
                                    <li><a href="#">Reseller Hosting</a></li>
                                    <li><a href="#">VPS Hosting</a></li>
                                    <li><a href="#">Dedicated Servers</a></li>
                                    <li><a href="#">Cloud Hosting</a></li>
                                </ul>
                            </div> {% endcomment %}
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="footer__text-widget">
                                <h5>Comunicanos</h5>
                                <ul class="footer__widget-info">
                                    <li><span class="fa fa-envelope"></span> <label class="span-links">moc.soidutsyxer@ofni</label></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="footer__text-copyright">
                        <p style="color: #fff;">
                            Copyright &copy;2020 - <script>document.write(new Date().getFullYear());</script> todos los derechos reservados | Un proyecto de <a href="https://rexystudios.com" target="_blank" style="color: #D8D8EB;">Rexy Studios</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer Section End -->

        <!-- Js Plugins -->
        <script src="{% static 'codeHome/js/jquery-3.3.1.min.js' %}"></script>
        <script src="{% static 'codeHome/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'codeHome/js/jquery.slicknav.js' %}"></script>
        <script src="{% static 'codeHome/js/owl.carousel.min.js' %}"></script>
        <script src="{% static 'codeHome/js/main.js' %}"></script>
    </body>

</html>