{% extends 'codeHome/base.html' %}
{% load static %}

{% block customCss %}
    <style>
        .btn-banner{ background: #fcfcfe; color: #001737; }
        .pricing__item:hover h3 { background: #001737; }
        .pricing__item h3 { background: #002e6b; }
        .pricing__item:hover .primary-btn { background: #004193; color: #ffffff; }
        .hero__slider.owl-carousel .owl-dots button { background: #ffd92e8c; }
        .hero__slider.owl-carousel .owl-dots button.active { background: #FFD92E; }
        a:hover, a:focus { color: #001737; }
    </style>
{% endblock %}

{% block customContent %}

    <!-- Hero Section Begin -->
    <section class="hero-section">
        <div class="hero__slider owl-carousel">
            <div class="hero__item set-bg" data-setbg="{% static 'codeHome/img/hero/hero-1.jpg' %}">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 pb-2">
                            <div class="hero__text">
                                <h5>Consigue más ventas</h5>
                                <h2>Potencia el negocio<br /> publica el catálogo</h2>
                                <a href="{% url 'coreAdmin:signup'%}" class="primary-btn btn-banner">Iniciar ahora</a>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="hero__img">
                                <img src="{% static 'codeHome/img/assets/productos.png' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero__item set-bg" data-setbg="{% static 'codeHome/img/hero/hero-1.jpg' %}">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 pb-2">
                            <div class="hero__text">
                                <h5>Impúlsate</h5>
                                <h2>Expone al público<br /> los proyectos que puedes realizar</h2>
                                <a href="{% url 'coreAdmin:signup'%}" class="primary-btn btn-banner">Iniciar ahora</a>
                            </div>
                        </div>
                        <div class="col-lg-6 pb-2">
                            <div class="hero__img">
                                <img src="{% static 'codeHome/img/assets/fotografia.png' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero__item set-bg" data-setbg="{% static 'codeHome/img/hero/hero-1.jpg' %}">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 pb-2">
                            <div class="hero__text">
                                <h5>Agranda tu mercado</h5>
                                <h2>Muestra tus platillos<br /> al mundo</h2>
                                <a href="{% url 'coreAdmin:signup'%}" class="primary-btn btn-banner">Iniciar ahora</a>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="hero__img">
                                <img src="{% static 'codeHome/img/assets/chef.png' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    
    <!-- About Section Begin -->
    <section class="about-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="about__img">
                        <img src="{% static 'codeHome/img/assets/emprendedor.jpg' %}" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about__text">
                        <h2>¡Nunca es tarde!</h2>
                        <p>
                            Siempre es momento para iniciar un nuevo emprendimiento y nosotros deseamos impulsarle en el camino al éxito.<br/>
                            <br/>
                            Le brindamos una plataforma donde puede ofrecer sus servicios, productos, comidas o el artículo que desee vender.<br/>
                            <br/>
                            Muestre lo que es capaz de realizar, nosotros creemos en usted.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About Section End -->

    <!-- Pricing Section Begin -->
    <section class="services-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="section-title normal-title">
                        <h3>Escoge un plan y comienza ahora</h3>
                    </div>
                </div>
            </div>
            <div class="row monthly__plans active">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="pricing__item">
                        <h4>Gratis</h4>
                        <h3>$0.00 USD <span>/ Mes</span></h3>
                        <ul style="text-align:left; margin-left: 20px;">
                            <li><img src="{% static 'codeHome/img/svg/check.svg' %}" style="width: 22px; margin-right: 5px; margin-top: -6px;">{{parametroLimiteGratis}} productos máximo</li>
                            <li><img src="{% static 'codeHome/img/svg/check.svg' %}" style="width: 22px; margin-right: 5px; margin-top: -6px;">Plantilla básica</li>
                            <li><img src="{% static 'codeHome/img/svg/check.svg' %}" style="width: 22px; margin-right: 5px; margin-top: -6px;">Botones de compartir en redes sociales</li>
                            <li><img src="{% static 'codeHome/img/svg/cancel.svg' %}" style="width: 22px; margin-right: 5px; margin-top: -6px;">Plantilla adicionales (gratis y de pago)</li>
                            <li><img src="{% static 'codeHome/img/svg/cancel.svg' %}" style="width: 22px; margin-right: 5px; margin-top: -6px;">Clasificación de productos por colecciones</li>
                            <li><img src="{% static 'codeHome/img/svg/cancel.svg' %}" style="width: 22px; margin-right: 5px; margin-top: -6px;">Slider en la pantalla principal</li>
                            <li><img src="{% static 'codeHome/img/svg/cancel.svg' %}" style="width: 22px; margin-right: 5px; margin-top: -6px;">Agregar analíticas de Google y Facebook</li>
                            <li><img src="{% static 'codeHome/img/svg/cancel.svg' %}" style="width: 22px; margin-right: 5px; margin-top: -6px;">Botón de WhatsApp</li>
                            <li><img src="{% static 'codeHome/img/svg/cancel.svg' %}" style="width: 22px; margin-right: 5px; margin-top: -6px;">Botón de buscar producto</li>
                        </ul>
                        <a href="{% url 'coreAdmin:signup'%}" class="primary-btn">Seleccionar</a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="pricing__item">
                        <h4>Pyme</h4>
                        <h3>$5.00 USD <span>/ Mes</span></h3>
                        <ul style="text-align:left; margin-left: 20px;">
                            <li><img src="{% static 'codeHome/img/svg/check.svg' %}" style="width: 22px; margin-right: 5px; margin-top: -6px;">Productos ilimitados</li>
                            <li><img src="{% static 'codeHome/img/svg/check.svg' %}" style="width: 22px; margin-right: 5px; margin-top: -6px;">Plantilla básica</li>
                            <li><img src="{% static 'codeHome/img/svg/check.svg' %}" style="width: 22px; margin-right: 5px; margin-top: -6px;">Botones de compartir en redes sociales</li>
                            <li><img src="{% static 'codeHome/img/svg/check.svg' %}" style="width: 22px; margin-right: 5px; margin-top: -6px;">Plantilla adicionales (gratis y de pago)</li>
                            <li><img src="{% static 'codeHome/img/svg/check.svg' %}" style="width: 22px; margin-right: 5px; margin-top: -6px;">Clasificación de productos por colecciones</li>
                            <li><img src="{% static 'codeHome/img/svg/check.svg' %}" style="width: 22px; margin-right: 5px; margin-top: -6px;">Slider en la pantalla principal</li>
                            <li><img src="{% static 'codeHome/img/svg/check.svg' %}" style="width: 22px; margin-right: 5px; margin-top: -6px;">Agregar analíticas de Google y Facebook</li>
                            <li><img src="{% static 'codeHome/img/svg/check.svg' %}" style="width: 22px; margin-right: 5px; margin-top: -6px;">Botón de WhatsApp</li>
                            <li><img src="{% static 'codeHome/img/svg/check.svg' %}" style="width: 22px; margin-right: 5px; margin-top: -6px;">Botón de buscar producto</li>
                        </ul>
                        <a href="{% url 'coreAdmin:signup'%}" class="primary-btn">Seleccionar</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Pricing Section End -->

{% endblock %}