{% extends 'registration/base.html' %}
{% load static %}
{% block title %}Nueva contraseña{% endblock %}
{% block content %}
    <style>
        .errorlist{
            padding: 0;
        }
        .errorlist li{
            color: #721c24;
            background-color: #f8d7da;
            border-color: #f5c6cb;
            position: relative;
            padding: .75rem 1.25rem;
            margin-bottom: 1rem;
            border: 1px solid transparent;
            border-radius: .25rem;
            list-style: none;
        }
    </style>

    <div>
        <div class="mb-3">
            <h6 class="h3 mb-1">Escriba la nueva contraseña</h6>
            <p class="text-muted mb-0">
                Por favor, introduzca su contraseña nueva dos veces para verificar que la ha escrito correctamente.
            </p>
        </div>

        {% if validlink %}
        <form action="" method="post">{% csrf_token %}
            <div class="form-group">
                <label class="form-control-label">Nueva contraseña</label>
                {{form.new_password1.errors}}
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                    </div>
                    <input type="password" class="form-control" name="new_password1" id="id_new_password1" placeholder="Nueva contraseña" maxlength="254" autocomplete="off" required/>
                </div>
            </div>

            <div class="form-group">
                <label class="form-control-label">Repite la nueva contraseña</label>
                {{form.new_password2.errors}}
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                    </div>
                    <input type="password" class="form-control" name="new_password2" id="id_new_password2" placeholder="Repite la nueva contraseña" maxlength="254" autocomplete="off" required/>
                </div>
            </div>
        
            {{ form.email.errors }}
            
            <button type="submit" class="btn btn-block btn-dark">Recuperar contraseña</button>
        </form>
        {% else %}
            <h3 class="mb-4">Restablecimiento de contraseñas fallido</h3>
            <p>El enlace de restablecimiento de contraseña era inválido, seguramente porque se haya usado antes. Por favor, solicite un nuevo restablecimiento de contraseña <a href="{% url 'password_reset' %}">aquí</a>.</p>
        {% endif %}
    </div>
{% endblock %}