{% load static %}
                <footer class="footer">
                    <div class="container-fluid">
                        {% comment %} <nav class="pull-left">
                            <ul class="nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="https://apps.ccnetcr.com/hd/" target="_blank">
                                        Poner un ticket
                                    </a>
                                </li>
                            </ul>
                        </nav> {% endcomment %}

                        <div class="copyright pull-left">
                            © Derechos reservados 2020 - {% now 'Y' %} Micro Comercios 
                        </div>
                        <div class="copyright ml-auto">
                            Una solución de <a href="https://rexystudios.com" target="blank">&copy; Rexy Studios</a>
                        </div>
                    </div>
                </footer>