{% extends 'codeBackEnd/base.html' %}
{% load static %}
{% block title %}Mis Comercios{% endblock %}
{% block tituloSeccion %}Editar comercio{% endblock %}

{% block customHead %}
{% endblock %}

{% block customCss %}
    <style>
        tbody tr td{ color: #ffffff; }
        tbody tr td a{ color: #5C9FF1; padding-left: 10px; }
        div.file-caption.form-control.kv-fileinput-caption.icon-visible > input {
            color: #fff !important;
        }
        .kv-file-remove, .img-block>a{ display: none !important; }
        
        .form-control:disabled, .form-control[readonly] {
            background-color: #1a2035 !important;
            border-color: #2f374b !important;
        }
        
        .nav-link {
            color: #4a5568;
        }

        .gutters-sm {
            margin-right: -8px;
            margin-left: -8px;
        }

        .gutters-sm>.col, .gutters-sm>[class*=col-] {
            padding-right: 8px;
            padding-left: 8px;
        }
        .mb-3, .my-3 {
            margin-bottom: 1rem!important;
        }

        .bg-gray-300 {
            background-color: #e2e8f0;
        }
        .h-100 {
            height: 100%!important;
        }
        .shadow-none {
            box-shadow: none!important;
        }

        .tab-config a.active, .tab-config a:hover{
            background: #011128 !important;
            color: #fff !important;
            border: 1px #011128 !important;
            border-radius: 0px !important;
        }
        
        .tab-config a.active .svg-menu, .tab-config a:hover .svg-menu{
            filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
        }

        .tab-config a {
            background: #fff !important;
            color: #011128 !important;
            border: 1px #fff !important;
            border-radius: 0px !important;
        }

        .tab-config-lateral a{
            text-align: left !important;
            padding-left: 15px !important;
        }

        .url-custom .input-group-prepend .input-group-text{
            background-color: #001737ad;
            color: #fff;
            border-color: #003B87 !important;
            padding-right: 2px;
        }
        .url-custom .input-group-prepend .input-group-text:hover{
            cursor: default;
        }
        .url-custom .form-control{
            border-left: 0;
            padding-left: 4px;
        }

        body[data-background-color=dark] .selectgroup-button {
            border: 1px solid #ffffff;
            background: #ffffff !important;
        }
        .selectgroup-input:checked+.selectgroup-button {
            border-color: #ffffff;
            z-index: 1;
            background: #011128 !important;
            color: #fff !important;
        }
        .selectgroup-input:checked+.selectgroup-button img {
            filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
        }
        .selectgroup-input:focus+.selectgroup-button {
            border-color: #ffffff;
            z-index: 2;
            color: #fff;
        }
    </style>
{% endblock %}

{% block content %}
    <form action="" id="formEditComercio" method="post" enctype="multipart/form-data" class="row ">
        {% csrf_token %}

        <div class="container">
            <div class="row gutters-sm">
                <div class="col-md-4 d-none d-md-block">
                    <div class="card">
                        <div class="card-body" style="padding: 0;">
                            <nav class="nav flex-column nav-pills nav-gap-y-1 tab-config tab-config-lateral">
                                <a href="#informacion" data-toggle="tab" class="nav-item nav-link has-icon nav-link-faded active">
                                    <img src="{% static 'codeBackEnd/admin/img/svg/comercio-informacion.svg' %}" class="svg-menu" style="width: 40px; margin-right: 15px;">
                                    Información
                                </a>
                                <a href="#acerca-de" data-toggle="tab" class="nav-item nav-link has-icon nav-link-faded">
                                    <img src="{% static 'codeBackEnd/admin/img/svg/about-us.svg' %}" class="svg-menu" style="width: 40px; margin-right: 15px;">
                                    Acerca de la empresa
                                </a>
                                <a href="#imagen-tienda" data-toggle="tab" class="nav-item nav-link has-icon nav-link-faded">
                                    <img src="{% static 'codeBackEnd/admin/img/svg/website.svg' %}" class="svg-menu" style="width: 40px; margin-right: 15px;">
                                    Imagen de la tienda
                                </a>
                                <a href="#redes-sociales" data-toggle="tab" class="nav-item nav-link has-icon nav-link-faded">
                                    <img src="{% static 'codeBackEnd/admin/img/svg/social-media.svg' %}" class="svg-menu" style="width: 40px; margin-right: 15px;">
                                    Redes sociales
                                </a>
                                {% if comercio.idplan != 0 %}
                                <a href="#analiticas" data-toggle="tab" class="nav-item nav-link has-icon nav-link-faded">
                                    <img src="{% static 'codeBackEnd/admin/img/svg/bar-chart.svg' %}" class="svg-menu" style="width: 40px; margin-right: 15px;">
                                    Analíticas
                                </a>
                                {% endif %}
                            </nav>
                        </div>
                    </div>
                </div>

                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header border-bottom mb-3 d-flex d-md-none" style="padding: 1rem 0.6rem; border: 0px !important;">
                            <ul class="nav nav-tabs card-header-tabs nav-gap-x-1 tab-config" role="tablist">
                                <li class="nav-item">
                                    <a href="#informacion" data-toggle="tab" class="nav-link has-icon active">
                                        <img src="{% static 'codeBackEnd/admin/img/svg/comercio-informacion.svg' %}" class="svg-menu" style="width: 40px;">
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#acerca-de" data-toggle="tab" class="nav-link has-icon">
                                        <img src="{% static 'codeBackEnd/admin/img/svg/about-us.svg' %}" class="svg-menu" style="width: 40px;">
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#imagen-tienda" data-toggle="tab" class="nav-link has-icon">
                                        <img src="{% static 'codeBackEnd/admin/img/svg/website.svg' %}" class="svg-menu" style="width: 40px;">
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#redes-sociales" data-toggle="tab" class="nav-link has-icon">
                                        <img src="{% static 'codeBackEnd/admin/img/svg/social-media.svg' %}" class="svg-menu" style="width: 40px;">
                                    </a>
                                </li>
                                {% if comercio.idplan != 0 %}
                                <li class="nav-item">
                                    <a href="#analiticas" data-toggle="tab" class="nav-link has-icon">
                                        <img src="{% static 'codeBackEnd/admin/img/svg/bar-chart.svg' %}" class="svg-menu" style="width: 40px;">
                                    </a>
                                </li>
                                {% endif %}
                            </ul>
                        </div>

                        <div class="card-body tab-content" style="background: rgba(255,255,255,.07);">
                            <div class="tab-pane active" id="informacion">
                                <h6 class="text-white">INFORMACIÓN DEL COMERCIO</h6>
                                <hr>

                                <div class="row">
                                    <div class="form-group col-md-5">
                                        <label for="id_nombre">Nombre</label>
                                        {{ form.nombre }}
                                        {{ form.nombre.errors }}
                                    </div>

                                    <div class="form-group col-md-7">
                                        <label for="id_slug">URL</label>
                                        <div class="input-group mb-3 url-custom">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="basic-addon3">https://microcomercios.com/</span>
                                            </div>
                                            <input type="text" class="form-control" id="id_slug" name="slug" aria-describedby="basic-addon3" value="{{ form.slug.value }}">
                                        </div>
                                        {{ form.slug.errors }}
                                    </div>

                                    <div class="form-group col-md-12">
                                        <label for="id_eslogan">Eslogan</label>
                                        {{ form.eslogan }}
                                        {{ form.eslogan.errors }}
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label for="contactoEmail">Correo electrónico</label>
                                        <input type="email" id="contactoEmail" name="contactoEmail" value="" class="form-control" placeholder="Correo electrónico:" maxlength="200">
                                    </div>
                                    
                                    <div class="form-group col-md-6">
                                        <label for="contactoTel">Teléfono</label>
                                        <input type="text" id="contactoTel" name="contactoTel" value="" class="form-control" placeholder="Teléfono:" maxlength="200">
                                    </div>

                                    {% if comercio.idplan != 0 %}
                                        <div class="form-group col-md-6">
                                            <label for="contactoWhatsapp">Whatsapp</label>
                                            <input type="text" id="contactoWhatsapp" name="contactoWhatsapp" value="" class="form-control" placeholder="Whatsapp:" maxlength="200">
                                        </div>
                                    {% endif %}

                                    <div class="form-group" style="display: none;">
                                        {{ form.contacto }}
                                    </div>

                                    <div class="form-group col-md-12">
                                        <button type="submit" class="btn btn-primary">Actualizar</button>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane" id="acerca-de">
                                <h6 class="text-white">ACERCA DE LA EMPRESA</h6>
                                <hr>
                                <div class="form-group">
                                    <label for="fullName">Descripción:</label>
                                    {{ form.descripcion }}
                                    {{ form.descripcion.errors }}
                                </div>

                                <div class="form-group">
                                    <label for="fullName">Imagen</label>
                                    <input type="file" name="img_acercade" class="form-control" placeholder="" accept="image/*" id="id_img_acercade">
                                </div>

                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary">Actualizar</button>
                                </div>
                            </div>

                            <div class="tab-pane" id="imagen-tienda">
                                <h6 class="text-white">IMAGEN DE LA TIENDA</h6>
                                <hr>
                                <div class="form-group">
                                    <label for="fullName">Logo:</label>
                                    <input type="file" name="logo" class="form-control" placeholder="" accept="image/x-png" id="id_logo">
                                </div>

                                <div class="form-group">
                                    <label for="fullName">Icono de la página:</label>
                                    <input type="file" name="favicon" class="form-control" placeholder="" accept="image/x-png" id="id_favicon">
                                </div>

                                <div class="form-group">
                                    <label for="fullName">Imagen principal:</label>
                                    <input type="file" name="img_superior" class="form-control" placeholder="" accept="image/*" id="id_img_superior">
                                </div>

                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary">Actualizar</button>
                                </div>
                            </div>

                            <div class="tab-pane" id="redes-sociales">
                                <h6 class="text-white">REDES SOCIALES</h6>
                                <hr>
                                
                                <div class="selectgroup w-100">
                                    <label class="selectgroup-item">
                                        <input type="checkbox" name="value" value="50" class="selectgroup-input" id="ck_Facebook">
                                        <span class="selectgroup-button">
                                            <img src="{% static 'codeBackEnd/admin/img/svg/facebook.svg' %}" class="svg-menu" style="width: 30px;">
                                        </span>
                                    </label>
                                    <label class="selectgroup-item">
                                        <input type="checkbox" name="value" value="100" class="selectgroup-input" id="ck_Instagram">
                                        <span class="selectgroup-button">
                                            <img src="{% static 'codeBackEnd/admin/img/svg/instagram.svg' %}" class="svg-menu" style="width: 30px;">
                                        </span>
                                    </label>
                                    <label class="selectgroup-item">
                                        <input type="checkbox" name="value" value="150" class="selectgroup-input" id="ck_Twitter">
                                        <span class="selectgroup-button">
                                            <img src="{% static 'codeBackEnd/admin/img/svg/twitter.svg' %}" class="svg-menu" style="width: 30px;">
                                        </span>
                                    </label>
                                    <label class="selectgroup-item">
                                        <input type="checkbox" name="value" value="200" class="selectgroup-input" id="ck_Tiktok">
                                        <span class="selectgroup-button">
                                            <img src="{% static 'codeBackEnd/admin/img/svg/tik-tok.svg' %}" class="svg-menu" style="width: 30px;">
                                        </span>
                                    </label>
                                    <label class="selectgroup-item">
                                        <input type="checkbox" name="value" value="200" class="selectgroup-input" id="ck_Twitch">
                                        <span class="selectgroup-button">
                                            <img src="{% static 'codeBackEnd/admin/img/svg/twitch.svg' %}" class="svg-menu" style="width: 30px;">
                                        </span>
                                    </label>
                                </div>

                                <div class="form-group" id="content_Facebook">
                                    <label for="socialFacebook">Facebook:</label>
                                    <input type="text" id="socialFacebook" name="socialFacebook" class="form-control" placeholder="URL Facebook:" maxlength="200">
                                </div>
                                
                                <div class="form-group" id="content_Instagram">
                                    <label for="socialInstagram">Instagram:</label>
                                    <input type="text" id="socialInstagram" name="socialInstagram" class="form-control" placeholder="URL Instagram:" maxlength="200">
                                </div>
                                
                                <div class="form-group" id="content_Twitter">
                                    <label for="socialTwitter">Twitter:</label>
                                    <input type="text" id="socialTwitter" name="socialTwitter" class="form-control" placeholder="URL Twitter:" maxlength="200">
                                </div>
                                
                                <div class="form-group" id="content_Tiktok">
                                    <label for="socialTiktok">Tiktok:</label>
                                    <input type="text" id="socialTiktok" name="socialTiktok" class="form-control" placeholder="URL Tiktok:" maxlength="200">
                                </div>
                                
                                <div class="form-group" id="content_Twitch">
                                    <label for="socialTwitch">Twitch:</label>
                                    <input type="text" id="socialTwitch" name="socialTwitch" class="form-control" placeholder="URL Twitch:" maxlength="200">
                                </div>

                                <div class="form-group" style="display: none;">
                                    {{ form.redessociales }}
                                </div>

                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary">Actualizar</button>
                                </div>
                            </div>

                            {% if comercio.idplan != 0 %}
                            <div class="tab-pane" id="analiticas">
                                <h6 class="text-white">ANALÍTICAS</h6>
                                <hr>
                                
                                <div class="selectgroup w-100">
                                    <label class="selectgroup-item">
                                        <input type="checkbox" name="value" value="50" class="selectgroup-input" id="ck_pixel_Facebook">
                                        <span class="selectgroup-button">
                                            <img src="{% static 'codeBackEnd/admin/img/svg/facebook.svg' %}" class="svg-menu" style="width: 30px;">
                                        </span>
                                    </label>
                                    <label class="selectgroup-item">
                                        <input type="checkbox" name="value" value="100" class="selectgroup-input" id="ck_googleAnalytics">
                                        <span class="selectgroup-button">
                                            <img src="{% static 'codeBackEnd/admin/img/svg/google.svg' %}" class="svg-menu" style="width: 30px;">
                                        </span>
                                    </label>
                                </div>

                                <div class="form-group" id="content_pixel_Facebook">
                                    <label for="pixelFacebook">Pixel de Facebook:</label>
                                    <input type="text" id="pixel_Facebook" name="pixelFacebook" class="form-control" placeholder="Código:" maxlength="200">
                                </div>

                                <div class="form-group" id="content_googleAnalytics">
                                    <label for="googleAnalytics">Google Analytics:</label>
                                    <input type="text" id="googleAnalytics" name="googleAnalytics" class="form-control" placeholder="Código:" maxlength="200">
                                </div>

                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary">Actualizar</button>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <input type="hidden" name="owner" class="form-control" value="{{comercio.owner.id}}" id="id_owner">
        
        <input type="hidden" name="idplan" class="form-control" value="{{comercio.idplan}}" id="id_idplan">

        {% if comercio.idplan != 0 %}
        <div class="form-group" style="display: none;">
            {{ form.ajustes }}
        </div>
        {% endif %}
    </form>
{% endblock %}

{% block customJs %}
    <script>
        {% if 'ok' in request.GET %}
            swal({
                title: "Realizado",
                text: "Se ha actualizado el comercio correctamente",
                icon: "success",
                buttons: {
                    confirm: {
                        text: "OK",
                        value: true,
                        visible: true,
                        className: "btn btn-success",
                        closeModal: true
                    }
                }
            });
        {% endif %}

        function cargarSocial(){
            var id_redessociales = $('#id_redessociales').val()
            var redessociales = JSON.parse(id_redessociales)

            if(redessociales.facebook.activo){ 
                $("#content_Facebook").show()
                $("#ck_Facebook").attr("checked", "true")
                $('#socialFacebook').val(redessociales.facebook.url)
            } else{ 
                $("#content_Facebook").hide()
                $("#ck_Facebook").removeAttr('checked')
                $('#socialFacebook').val("")
            }

            if(redessociales.instagram.activo){ 
                $("#content_Instagram").show()
                $("#ck_Instagram").attr("checked", "true")
                $('#socialInstagram').val(redessociales.instagram.url)
            } else{ 
                $("#content_Instagram").hide()
                $("#ck_Instagram").removeAttr('checked')
                $('#socialInstagram').val("")
            }

            if(redessociales.twitter.activo){ 
                $("#content_Twitter").show()
                $("#ck_Twitter").attr("checked", "true")
                $('#socialTwitter').val(redessociales.twitter.url)
            } else{ 
                $("#content_Twitter").hide()
                $("#ck_Twitter").removeAttr('checked')
                $('#socialTwitter').val("")
            }

            if(redessociales.tiktok.activo){ 
                $("#content_Tiktok").show()
                $("#ck_Tiktok").attr("checked", "true")
                $('#socialTiktok').val(redessociales.tiktok.url)
            } else{ 
                $("#content_Tiktok").hide()
                $("#ck_Tiktok").removeAttr('checked')
                $('#socialTiktok').val()
            }

            if(redessociales.twitch.activo){ 
                $("#content_Twitch").show()
                $("#ck_Twitch").attr("checked", "true")
                $('#socialTwitch').val(redessociales.twitch.url)
            } else{ 
                $("#content_Twitch").hide()
                $("#ck_Twitch").removeAttr('checked')
                $('#socialTwitch').val("")
            }
        }
        cargarSocial()

        function cargarContacto(){
            var id_contacto = $('#id_contacto').val()
            var contacto = JSON.parse(id_contacto)
            
            $('#contactoTel').val(contacto.telefono)
            $('#contactoEmail').val(contacto.email)
            {% if comercio.idplan != 0 %}
                $('#contactoWhatsapp').val(contacto.whatsapp)
            {% endif %}
        }
        cargarContacto()

        {% if comercio.idplan != 0 %}
            function cargarAnaliticas(){
                var id_ajustes = $('#id_ajustes').val()
                var ajustes = JSON.parse(id_ajustes)

                if(!ajustes.analiticas){
                    ajustes.analiticas = {
                        "google": {
                            "activo": false,
                            "codigo": "",
                        },
                        "facebookPixel": {
                            "activo": false,
                            "codigo": "",
                        },
                    }
                    $('#id_ajustes').val(JSON.stringify(ajustes))
                }

                if(ajustes.analiticas){
                    if(ajustes.analiticas.facebookPixel){
                        if(ajustes.analiticas.facebookPixel.activo){ 
                            $("#content_pixel_Facebook").show()
                            $("#ck_pixel_Facebook").attr("checked", "true")
                            $('#pixel_Facebook').val(ajustes.analiticas.facebookPixel.codigo)
                        } else{ 
                            $("#content_pixel_Facebook").hide()
                            $("#ck_pixel_Facebook").removeAttr('checked')
                            $('#pixel_Facebook').val("")
                        }
                    }
                    if(ajustes.analiticas.google){
                        if(ajustes.analiticas.google.activo){ 
                            $("#content_googleAnalytics").show()
                            $("#ck_googleAnalytics").attr("checked", "true")
                            $('#googleAnalytics').val(ajustes.analiticas.google.codigo)
                        } else{ 
                            $("#content_googleAnalytics").hide()
                            $("#ck_googleAnalytics").removeAttr('checked')
                            $('#googleAnalytics').val("")
                        }
                    }
                }
            }
            cargarAnaliticas()

            $( "#ck_pixel_Facebook" ).change(function() { CambiarEstadoAnalitica('facebookPixel', "pixel_Facebook") })
            $( "#ck_googleAnalytics" ).change(function() { CambiarEstadoAnalitica('google', "googleAnalytics") })
            
            function CambiarEstadoAnalitica(id, label){
                var id_ajustes = $('#id_ajustes').val()
                var ajustes = JSON.parse(id_ajustes)

                ajustes["analiticas"][id]["activo"] = !ajustes["analiticas"][id]["activo"]

                if(ajustes["analiticas"][id]["activo"]){
                    $(`#content_${label}`).show()
                    $(`#ck_${label}`).attr("checked", "true")
                } else{ 
                    $(`#content_${label}`).hide()
                    $(`#ck_${label}`).removeAttr('checked')
                    $(`#${label}`).val("")
                    ajustes["analiticas"][id]["codigo"] = ""
                }

                $('#id_ajustes').val(JSON.stringify(ajustes))
            }
            
            $( "#pixel_Facebook" ).keyup(function() { CambiarAnalitica('facebookPixel', $('#pixel_Facebook').val() ) })
            $( "#googleAnalytics" ).keyup(function() { CambiarAnalitica('google', $('#googleAnalytics').val() ) })
            
            function CambiarAnalitica(id, url){
                var id_ajustes = $('#id_ajustes').val()
                var ajustes = JSON.parse(id_ajustes)

                ajustes["analiticas"][id]["codigo"] = url
                $('#id_ajustes').val(JSON.stringify(ajustes))
            }
        {% endif %}

        $( "#socialFacebook" ).keyup(function() { CambiarResdSocial('facebook', $('#socialFacebook').val() ) })
        $( "#socialTwitter" ).keyup(function() { CambiarResdSocial('twitter', $('#socialTwitter').val() ) })
        $( "#socialTiktok" ).keyup(function() { CambiarResdSocial('tiktok', $('#socialTiktok').val() ) })
        $( "#socialInstagram" ).keyup(function() { CambiarResdSocial('instagram', $('#socialInstagram').val() ) })
        $( "#socialTwitch" ).keyup(function() { CambiarResdSocial('twitch', $('#socialTwitch').val() ) })

        $( "#ck_Facebook" ).change(function() { CambiarEstadoResdSocial('facebook', "Facebook") })
        $( "#ck_Twitter" ).change(function() { CambiarEstadoResdSocial('twitter', "Twitter") })
        $( "#ck_Tiktok" ).change(function() { CambiarEstadoResdSocial('tiktok', "Tiktok") })
        $( "#ck_Instagram" ).change(function() { CambiarEstadoResdSocial('instagram', "Instagram") })
        $( "#ck_Twitch" ).change(function() { CambiarEstadoResdSocial('twitch', "Twitch") })

        $( "#contactoTel" ).keyup(function() { CambiarContacto('telefono', $('#contactoTel').val() ) })
        $( "#contactoEmail" ).keyup(function() { CambiarContacto('email', $('#contactoEmail').val() ) })
        {% if comercio.idplan != 0 %}
            $( "#contactoWhatsapp" ).keyup(function() { CambiarContacto('whatsapp', $('#contactoWhatsapp').val() ) })
        {% endif %}

        function CambiarResdSocial(id, url){
            var id_redessociales = $('#id_redessociales').val()
            var redessociales = JSON.parse(id_redessociales)

            redessociales[id]["url"] = url
            $('#id_redessociales').val(JSON.stringify(redessociales))
        }

        function CambiarEstadoResdSocial(id, label){
            var id_redessociales = $('#id_redessociales').val()
            var redessociales = JSON.parse(id_redessociales)

            redessociales[id]["activo"] = !redessociales[id]["activo"]

            if(redessociales[id]["activo"]){ 
                $(`#content_${label}`).show()
                $(`#ck_${label}`).attr("checked", "true")
            } else{ 
                $(`#content_${label}`).hide()
                $(`#ck_${label}`).removeAttr('checked')
                $(`#social${label}`).val("")
                redessociales[id]["url"] = ""
            }

            $('#id_redessociales').val(JSON.stringify(redessociales))
        }

        function CambiarContacto(id, url){
            var id_contacto = $('#id_contacto').val()
            var contacto = JSON.parse(id_contacto)

            contacto[id] = url
            $('#id_contacto').val(JSON.stringify(contacto))
        }

        tinymce.init({
            selector: '#id_descripcion',
            height: 300,
            language: 'es',
            theme: 'modern',
            relative_urls: false,
            remove_script_host : false,
            plugins: [
                'advlist charmap preview hr anchor pagebreak', 
                'searchreplace', 
                'insertdatetime nonbreaking contextmenu directionality', 
                'emoticons paste textcolor colorpicker textpattern '
            ],
            toolbar1: 'preview | insertfile undo redo | forecolor backcolor | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link | emoticons',
            toolbar2: '',
            image_advtab: true,
        });

        $("#id_img_superior").fileinput({
            theme: "fas",
            language: 'es',
            'allowedFileExtensions': ['jpg', 'jpeg', 'png', 'JPG', 'JPEG', 'PNG'],
            overwriteInitial: false,
            initialPreviewAsData: true,
            maxFilesNum: 1,
            showUpload: false,
            showRemove: false,
            initialPreview: [
                "/media/{{ comercio.img_superior }}",
            ],
        });
        $("#id_img_acercade").fileinput({
            theme: "fas",
            language: 'es',
            'allowedFileExtensions': ['jpg', 'jpeg', 'png', 'JPG', 'JPEG', 'PNG'],
            overwriteInitial: false,
            initialPreviewAsData: true,
            maxFilesNum: 1,
            showUpload: false,
            showRemove: false,
            initialPreview: [
                "/media/{{ comercio.img_acercade }}",
            ],
        });
        $("#id_logo").fileinput({
            theme: "fas",
            language: 'es',
            'allowedFileExtensions': ['png', 'PNG'],
            overwriteInitial: false,
            initialPreviewAsData: true,
            maxFilesNum: 1,
            showUpload: false,
            showRemove: false,
            initialPreview: [
                "/media/{{ comercio.logo }}",
            ],
        });
        $("#id_favicon").fileinput({
            theme: "fas",
            language: 'es',
            'allowedFileExtensions': ['png', 'PNG'],
            overwriteInitial: false,
            initialPreviewAsData: true,
            maxFilesNum: 1,
            showUpload: false,
            showRemove: false,
            initialPreview: [
                "/media/{{ comercio.favicon }}",
            ],
        });
        
        $( "#id_slug" ).keyup(function() {
            var comercio_slug = $('#id_slug').val()
            $('#btnForm').show()
            if(comercio_slug.length >= 5){
                var idComercio = {{comercio.id}};
                var URL = '{% url 'comercioAdmin:comercioDisponibilidad' comercio_slug='comercio_slug'  %}'

                var urlConsulta = URL.replace("comercio_slug", comercio_slug);

                $.get(`${urlConsulta}`, {}, function(data){
                    if(data.existe == 1 && idComercio != data.comercio){
                        $('#btnForm').hide()
                        swal("¡Ten cuidado!", "El nombre del comercio ya se encuentra utilizado", {
                            icon : "error",
                            buttons: {
                                confirm: {
                                    className : 'btn btn-danger'
                                }
                            },
                        });
                    }
                })
            }
        })
        
        document.addEventListener('DOMContentLoaded', function() {
            /* formEditComercio*/
            if ( document.getElementById( "formEditComercio" )) {
                FormValidation.formValidation(
                    document.getElementById('formEditComercio'),
                    {
                        fields: {
                            nombre: {
                                validators:{
                                    notEmpty: { message: 'El nombre es obligatorio.' },
                                    stringLength: {
                                        min: 2,
                                        message: 'El tamaño del campo debe ser de mínimo 2 caracteres. '
                                    },
                                    regexp: {
                                        regexp: /^[a-zA-Z0-9 /\s/Ñ/ñ/à/è/ì/ò/ù/À/È/Ì/Ò/Ù/á/é/í/ó/ú/ý/Á/É/Í/Ó/Ú/Ý/â/ê/î/ô/û/Â/Ê/Î/Ô/Û/ã/ñ/õ/Ã/Ñ/Õ/ä/ë/ï/ö/ü/ÿ/Ä/Ë/Ï/Ö/Ü/Ÿ/ç/Ç/]+$/,
                                        message: 'Solo puede contener valores alfabéticos'
                                    }
                                }
                            },
                            slug: {
                                validators:{
                                    notEmpty: { message: 'El nombre es obligatorio.' },
                                    stringLength: {
                                        min: 5,
                                        message: 'El tamaño del campo debe ser de mínimo 5 caracteres. '
                                    },
                                    regexp: {
                                        regexp: /^[a-zA-Z0-9_-]+$/,
                                        message: 'Solo puede contener valores alfabéticos puede utilizar símbolos como los siguientes: -, _ '
                                    }
                                }
                            },
                            eslogan: {
                                validators:{
                                    notEmpty: { message: 'El eslogan es obligatorio.' },
                                    stringLength: {
                                        min: 2,
                                        message: 'El tamaño del campo debe ser de mínimo 2 caracteres. '
                                    },
                                    regexp: {
                                        regexp: /^[a-zA-Z0-9 /\s/Ñ/ñ/à/è/ì/ò/ù/À/È/Ì/Ò/Ù/á/é/í/ó/ú/ý/Á/É/Í/Ó/Ú/Ý/â/ê/î/ô/û/Â/Ê/Î/Ô/Û/ã/ñ/õ/Ã/Ñ/Õ/ä/ë/ï/ö/ü/ÿ/Ä/Ë/Ï/Ö/Ü/Ÿ/ç/Ç/]+$/,
                                        message: 'Solo puede contener valores alfabéticos'
                                    }
                                }
                            },
                            socialFacebook: {
                                validators: {
                                    regexp: {
                                        regexp: /^(?:(?:https):\/\/)(?:www.)facebook.com\/?([\w\-]*)+$/,
                                        message: 'Solo se admiten direcciones Facebook'
                                    }
                                }
                            },
                            socialTwitter: {
                                validators: {
                                    regexp: {
                                        regexp: /^(?:(?:https):\/\/)twitter.com\/?([\w\-]*)+$/,
                                        message: 'Solo se admiten direcciones Twitter'
                                    }
                                }
                            },
                            socialTiktok: {
                                validators: {
                                    regexp: {
                                        regexp: /^(?:(?:https):\/\/)(?:www.)tiktok.com\/@?([\w\-]*)+$/,
                                        message: 'Solo se admiten direcciones TikTok'
                                    }
                                }
                            },
                            socialInstagram: {
                                validators: {
                                    regexp: {
                                        regexp: /^(?:(?:https):\/\/)(?:www.)instagram.com\/?([\w\-]*)?(?:\/)+$/,
                                        message: 'Solo se admiten direcciones Instagram'
                                    }
                                }
                            },
                            socialTwitch: {
                                validators: {
                                    regexp: {
                                        regexp: /^(?:(?:https):\/\/)(?:www.)twitch.tv\/?([\w\-]*)+$/,
                                        message: 'Solo se admiten direcciones Twitch'
                                    }
                                }
                            },
                            contactoTel: {
                                validators:{
                                    stringLength: { min: 8, max: 11, message: 'El tamaño del teléfono debe ser mínimo 8 caracteres y máximo 11.' },
                                    notEmpty: { message: 'El teléfono es obligatorio.' },
                                    regexp: { regexp: /^[0-9]+$/, message: 'Solo puede contener valores numéricos' }
                                }
                            },
                            contactoEmail: {
                                validators:{
                                    notEmpty: { message: 'El correo es obligatorio.' },
                                    regexp: {
                                        regexp: /[a-z0-9]+([-._]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*\s*/,
                                        message: ' Correo inválido. '
                                    }
                                }
                            }
                            {% if comercio.idplan != 0 %}
                                ,
                                contactoWhatsapp: {
                                    validators:{
                                        stringLength: { min: 8, max: 11, message: 'El tamaño del teléfono debe ser mínimo 8 caracteres y máximo 11.' },
                                        regexp: { regexp: /^[0-9]+$/, message: 'Solo puede contener valores numéricos' }
                                    }
                                }
                            {% endif %}
                        },
                        plugins: {
                            trigger: new FormValidation.plugins.Trigger(),
                            bootstrap: new FormValidation.plugins.Bootstrap(),
                            submitButton: new FormValidation.plugins.SubmitButton(),
                            defaultSubmit: new FormValidation.plugins.DefaultSubmit(),
                            icon: new FormValidation.plugins.Icon({
                                valid: 'fa fa-check',
                                invalid: 'fa fa-times',
                                validating: 'fa fa-refresh',
                            })
                        }
                    }
                );
            }
            /* formEditComercio*/
        });
    </script>
{% endblock %}