{% extends 'codeBackEnd/base.html' %}
{% load static %}
{% block title %}Mis Comercios{% endblock %}

{% block customHead %}
        <link href="{% static 'admin/assets/dataTables/css/dataTables.bootstrap4.css' %}" rel="stylesheet"  type="text/css"/>
{% endblock %}

{% block customCss %}
    <style>
        tbody tr td{ color: #ffffff; }
        tbody tr td a{ color: #5C9FF1; padding-left: 10px; }
    </style>
{% endblock %}

{% block content %}
                    <div class="panel-header bg-primary-gradient">
                        <div class="page-inner py-5">
                            <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
                                <div>
                                    <h2 class="text-white pb-2 fw-bold">Mis comercios</h2>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="page-inner mt--5">
                        <div class="row mt--2">

                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="display table table-striped table-hover" id="dataTable">
                                                    <thead>
                                                        <tr>
                                                            <th>Nombre</th>
                                                            <th>Nombre corto</th>
                                                            <th>Eslogan</th>
                                                            <th style="text-align: center;">
                                                                <a href="#" title="Haga clic sobre el icono para editar la fila."><i class='fa fa-info'></i></a>
                                                            </th> 
                                                            <th style="text-align: center;">
                                                                <a href="#" title="Haga clic sobre el icono para ver los productos."><i class='fa fa-info'></i></a>
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for comercio in comercios %}
                                                            <tr>
                                                                <td>{{ comercio.nombre }}</td>
                                                                <td>{{ comercio.slug }} <a href="{% url 'comercio:comercio' comercio_slug=comercio.slug|slugify %}" target="_blank"><i class="fas fa-external-link-alt"></i></a></td>
                                                                <td>{{ comercio.eslogan }}</td>
                                                                <td style="text-align: center;"><a href="{% url 'coreAdmin:comercio' pk=comercio.id %}" class="btn btn-secondary"><i class="fas fa-pencil-alt fa-lg"></i> Editar</a></td>
                                                                <td style="text-align: center;"><a href="{% url 'coreAdmin:productos' pk=comercio.id %}" class="btn btn-info" title="Ver productos"><i class="fas fa-boxes fa-lg"></i> Productos</a></td>
                                                            </tr>
                                                        {% endfor%}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
{% endblock %}

{% block customJs %}
        <script src="{% static 'admin/assets/dataTables/js/jquery.dataTables.js' %}"></script>
        <script src="{% static 'admin/assets/dataTables/js/dataTables.bootstrap4.js' %}"></script>
        <script>
            $(document).ready(function () {
                $('#dataTable').dataTable( {
                    "language": {
                        "lengthMenu"    : "Mostrando  _MENU_ ",
                        "zeroRecords"   : "Nada que mostrar - disculpe!",
                        "info"          : "Mostrando la página _PAGE_ de _PAGES_",
                        "infoEmpty"     : "No se encontrarán registros",
                        "infoFiltered"  : "(Filtrando _MAX_ del total de registros)",
                        "search"        : "Buscar ",
                        "paginate": {
                            "previous"  : " Anterior ",
                            "next"      : " Siguiente "
                        }
                    },
                    "paging"            : true,
                    "ordering"          : true,
                    "order"             : [[0, 'desc']],
                    "info"              : true,
                    "fixedHeader"       : true
                });
            });
        </script>
{% endblock %}