{% extends 'codeBackEnd/base.html' %}
{% load static %}
{% load codeBackEnd_extras %}
{% block title %}Dashboard{% endblock %}
{% block tituloSeccion %}
    {% if request.session.comercioId is not None %}
        Escritorio comercio {{ comercio }}
    {% else %}
        Seleccione un comercio para empezar
    {% endif %}
{% endblock %}

{% block customCss %}
    <style>
        .customCard{
            background: rgba(0,0,0,.2) !important;
        }
    </style>
    {% if request.session.comercioId is None %}
        <style>
            .card-stats{
                background: rgba(0,0,0,0.2) !important;
            }
            .card-stats:hover{
                background: rgba(0,0,0,0.4) !important;
            }
        </style>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="row">

        {% if request.session.comercioId is not None %}
            <div class="col-md-6">
                <div class="card customCard">
                    <div class="card-header">
                        <div class="card-title"><i class="flaticon-presentation text-white"></i> Productos más vistos</div>
                    </div>
                    <div class="card-body">
                        <div class="chart-container">
                            <canvas id="barChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        
        
        {% if request.session.comercioId is None %}
            <div class="col-md-12">
                <div class="row">
                    {% get_Comercios_list request.user as Comercios_list %}
                    {% for ComercioSeleccion in Comercios_list %}
                        <div class="col-sm-6 col-md-4">
                            <div class="card card-stats card-round" onclick="window.location.href = '{% url 'coreAdmin:dashboardSeleccion' pk=ComercioSeleccion.id %}';" style="cursor: pointer;">
                                <div class="card-body ">
                                    <div class="row">
                                        <div class="col-3">
                                            <div class="icon-big text-center">
                                                <i class="flaticon-store text-white"></i>
                                            </div>
                                        </div>
                                        <div class="col-9 col-stats">
                                            <div class="numbers">
                                                <h4 class="card-title">{{ ComercioSeleccion.nombre }}</h4>
                                                <p class="card-category">Seleccionar comercio</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor%}

                    <div class="col-sm-6 col-md-4">
                        <div class="card card-stats card-round" onclick="window.location.href = '{% url 'comercioAdmin:comercioAdd' %}';" style="cursor: pointer;">
                            <div class="card-body ">
                                <div class="row">
                                    <div class="col-3">
                                        <div class="icon-big text-center">
                                            <i class="flaticon-add text-white"></i>
                                        </div>
                                    </div>
                                    <div class="col-9 col-stats">
                                        <div class="numbers">
                                            <h4 class="card-title">Agregar nuevo comercio</h4>
                                            <p class="card-category">Crea un nuevo comercio</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        {% endif %}
        
        {% comment %} <div class="col-md-6">
            <div class="card full-height">
                <div class="card-body">
                    <div class="card-title">Overall statistics</div>
                    <div class="card-category">Daily information about statistics in system</div>

                    <div class="d-flex flex-wrap justify-content-around pb-2 pt-4">
                        <div class="px-2 pb-2 pb-md-0 text-center">
                            <div id="circles-1"></div>
                            <h6 class="fw-bold mt-3 mb-0">New Users</h6>
                        </div>
                        <div class="px-2 pb-2 pb-md-0 text-center">
                            <div id="circles-2"></div>
                            <h6 class="fw-bold mt-3 mb-0">Sales</h6>
                        </div>
                        <div class="px-2 pb-2 pb-md-0 text-center">
                            <div id="circles-3"></div>
                            <h6 class="fw-bold mt-3 mb-0">Subscribers</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 row">
            <div class="col-md-3 col-sm-6">
                <div class="card card-stats card-primary card-round">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-5">
                                <div class="icon-big text-center">
                                    <i class="flaticon-users"></i>
                                </div>
                            </div>
                            <div class="col-7 col-stats">
                                <div class="numbers">
                                    <p class="card-category">Visitors</p>
                                    <h4 class="card-title">1,294</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="card card-stats card-info card-round">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-5">
                                <div class="icon-big text-center">
                                    <i class="flaticon-interface-6"></i>
                                </div>
                            </div>
                            <div class="col-7 col-stats">
                                <div class="numbers">
                                    <p class="card-category">Subscribers</p>
                                    <h4 class="card-title">1303</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="card card-stats card-success card-round">
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-5">
                                <div class="icon-big text-center">
                                    <i class="flaticon-analytics"></i>
                                </div>
                            </div>
                            <div class="col-7 col-stats">
                                <div class="numbers">
                                    <p class="card-category">Sales</p>
                                    <h4 class="card-title">$ 1,345</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="card card-stats card-secondary card-round">
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-5">
                                <div class="icon-big text-center">
                                    <i class="flaticon-success"></i>
                                </div>
                            </div>
                            <div class="col-7 col-stats">
                                <div class="numbers">
                                    <p class="card-category">Order</p>
                                    <h4 class="card-title">576</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </div>{% endcomment %}
        
        {% comment %} <div class="col-md-12 row row-card-no-pd">
            <div class="col-sm-6 col-md-3">
                <div class="card card-stats card-round">
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-5">
                                <div class="icon-big text-center">
                                    <i class="flaticon-chart-pie text-warning"></i>
                                </div>
                            </div>
                            <div class="col-7 col-stats">
                                <div class="numbers">
                                    <p class="card-category">Number</p>
                                    <h4 class="card-title">150GB</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="card card-stats card-round">
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-5">
                                <div class="icon-big text-center">
                                    <i class="flaticon-coins text-success"></i>
                                </div>
                            </div>
                            <div class="col-7 col-stats">
                                <div class="numbers">
                                    <p class="card-category">Revenue</p>
                                    <h4 class="card-title">$ 1,345</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="card card-stats card-round">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-5">
                                <div class="icon-big text-center">
                                    <i class="flaticon-error text-danger"></i>
                                </div>
                            </div>
                            <div class="col-7 col-stats">
                                <div class="numbers">
                                    <p class="card-category">Errors</p>
                                    <h4 class="card-title">23</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="card card-stats card-round">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-5">
                                <div class="icon-big text-center">
                                    <i class="flaticon-twitter text-primary"></i>
                                </div>
                            </div>
                            <div class="col-7 col-stats">
                                <div class="numbers">
                                    <p class="card-category">Followers</p>
                                    <h4 class="card-title">+45K</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> {% endcomment %}

    </div>
{% endblock %}

{% block customJs %}
    <script>
        {% if request.session.comercioId is not None %}
            var barChart = document.getElementById('barChart').getContext('2d')

            var myBarChart = new Chart(barChart, {
                type: 'bar',
                data: {
                    labels: ["Visualizaciones"],
                    datasets : [
                        {% get_top10productos request.session.comercioId as Productos %}
                        {% for Producto in Productos %}
                        
                            {% get_colorRandom as color %}
                            {
                                label: "{{Producto}}",
                                backgroundColor: '{{color}}',
                                borderColor: '{{color}}',
                                data: [{{Producto.visualizaciones}}],
                            },
                        {% endfor%}
                    ],
                },
                options: {
                    responsive: true, 
                    maintainAspectRatio: false,
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero:true
                            }
                        }]
                    },
                }
            });
        {% endif %}

        {% if request.session.comercioId is None %}
        {% endif %}
        
    </script>
{% endblock %}