{% extends 'codeBackEnd/base.html' %}
{% load static %}
{% block title %}Planes para comercios{% endblock %}
{% block tituloSeccion %}Selecciona uno de nuestros planes{% endblock %}

{% block customCss %}
    <style>
        body[data-background-color=dark] .card-pricing2 {
            background: #001737 !important
        }

        .list-group li{ background: rgba(255,255,255,.1) !important; }
    </style>
{% endblock %}

{% block content %}
    <div class="row justify-content-center align-items-center mb-5">

        <div class="col-sm-6 col-md-4 pl-md-0 mb-2">
            <div class="card-pricing2 card-success">
                <div class="pricing-header">
                    <h3 class="fw-bold">Gratis</h3>
                    <span class="sub-title">Apto por si estás comenzando o deseas probar nuestros servicios</span>
                </div>
                <div class="price-value">
                    <div class="value">
                        <span class="currency">$</span>
                        <span class="amount">0.<span>00</span></span>
                        <span class="month">/mes</span>
                    </div>
                </div>
                <ul class="pricing-content">
                    <li>{{MaximosProductos}} productos máximo</li>
                    <li>Plantilla básica</li>
                    <li>Botones de compartir en redes sociales</li>
                    <li class="disable">Plantilla adicionales (gratis y de pago)</li>
                    <li class="disable">Clasificación de productos por colecciones</li>
                    <li class="disable">Slider en la pantalla principal</li>
                    <li class="disable">Agregar analíticas de Google y Facebook</li>
                    <li class="disable">Botón de WhatsApp</li>
                    <li class="disable">Botón de buscar producto</li>
                </ul>
                <form action="{% url 'coreAdmin:pagarPlan' %}" method="post">
                    {% csrf_token %}
                    <input name="idPlan" type="hidden" value="0">
                    <button type="submit" class="btn btn-success btn-border btn-lg w-75 fw-bold mb-3">Seleccionar plan</button>
                </form>
            </div>
        </div>

        <div class="col-sm-6 col-md-4 pl-md-0 mb-2">
            <div class="card-pricing2 card-info">
                <div class="pricing-header">
                    <h3 class="fw-bold">Pyme</h3>
                    <span class="sub-title">Apto por si posees un gran catálogo que deseas mostrar al mundo</span>
                </div>
                <div class="price-value">
                    <div class="value">
                        <span class="currency">$</span>
                        <span class="amount">5.<span>00</span></span>
                        <span class="month">/mes</span>
                    </div>
                </div>
                <ul class="pricing-content">
                    <li>Productos ilimitados</li>
                    <li>Plantilla básica</li>
                    <li>Botones de compartir en redes sociales</li>
                    <li>Plantilla adicionales (gratis y de pago)</li>
                    <li>Clasificación de productos por colecciones</li>
                    <li>Slider en la pantalla principal</li>
                    <li>Agregar analíticas de Google y Facebook</li>
                    <li>Botón de WhatsApp</li>
                    <li>Botón de buscar producto</li>
                </ul>
                <form action="{% url 'coreAdmin:pagarPlan' %}" method="post">
                    {% csrf_token %}
                    <input name="idPlan" type="hidden" value="1">
                    <button type="submit" class="btn btn-info btn-border btn-lg w-75 fw-bold mb-3">Seleccionar plan</button>
                </form>
            </div>
        </div>

    </div>

    <div class="col-md-12">
        <hr/>
    </div>
    
    <div class="col-md-12">
        <div class="card mt-3">
            <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0 text-white"><span style="color:yellow;">*</span> Si posees un plan activo y deseas cambiarlo, no se realizará ningún reembolso del dinero.</h6>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0 text-white">Las nuevas caracteristicas que se vayan añadiendo serán informadas mediante la plataforma</h6>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block customJs %}
    <script>
        Circles.create({
            id:'circles-1',
            radius:45,
            value:60,
            maxValue:100,
            width:7,
            text: 5,
            colors:['#f1f1f1', '#FF9E27'],
            duration:400,
            wrpClass:'circles-wrp',
            textClass:'circles-text',
            styleWrapper:true,
            styleText:true
        })

        Circles.create({
            id:'circles-2',
            radius:45,
            value:70,
            maxValue:100,
            width:7,
            text: 36,
            colors:['#f1f1f1', '#2BB930'],
            duration:400,
            wrpClass:'circles-wrp',
            textClass:'circles-text',
            styleWrapper:true,
            styleText:true
        })

        Circles.create({
            id:'circles-3',
            radius:45,
            value:40,
            maxValue:100,
            width:7,
            text: 12,
            colors:['#f1f1f1', '#F25961'],
            duration:400,
            wrpClass:'circles-wrp',
            textClass:'circles-text',
            styleWrapper:true,
            styleText:true
        })
    </script>
{% endblock %}