{% extends 'coreComercios/base.html' %}
{% load static %}

{% block title %}{{ comercio.nombre }}{% endblock %}
{% block nombreEmpresa %}<h1 class="mb-0 site-logo"><a href="{% url 'comercio:comercio' comercio_slug=comercio.slug|slugify %}" class="text-black mb-0">{{ comercio.nombre }}</a></h1>{% endblock %}

{% block Social1Empresa %}
    <ul class="social-media">
        <li><a href="{% url 'comercio:comercio' comercio_slug=comercio.slug|slugify %}" class=""><i class="fas fa-store"></i></a></li>
        {% if comercio.redessociales.facebook != '' %}<li><a href="{{comercio.redessociales.facebook}}" target="_blank" class=""><span class="icon-facebook"></span></a></li>{% endif %}
        {% if comercio.redessociales.instagram != '' %}<li><a href="{{comercio.redessociales.instagram}}" target="_blank" class=""><span class="icon-instagram"></span></a></li>{% endif %}
        {% if comercio.redessociales.twitter != '' %}<li><a href="{{comercio.redessociales.twitter}}" target="_blank" class=""><span class="icon-twitter"></span></a></li>{% endif %}
        {% if comercio.redessociales.twitch != '' %}<li><a href="{{comercio.redessociales.twitch}}" target="_blank" class=""><span class="icon-twitch"></span></a></li>{% endif %}
        {% if comercio.redessociales.tiktok != '' %}<li><a href="{{comercio.redessociales.tiktok}}" target="_blank" class=""><i class="fab fa-tiktok"></i></a></li>{% endif %}
    </ul>
{% endblock %}

{% block Social2Empresa %}
    {% if comercio.redessociales.facebook != '' or comercio.redessociales.instagram != '' or comercio.redessociales.twitter != '' or comercio.redessociales.twitch != '' or comercio.redessociales.tiktok != '' %}
        <h2 class="footer-heading mb-4">Síguenos</h2>
    {% endif %}
    {% if comercio.redessociales.facebook != '' %}<a href="{{comercio.redessociales.facebook}}" target="_blank" class="pl-0 pr-3"><span class="icon-facebook"></span></a>{% endif %}
    {% if comercio.redessociales.instagram != '' %}<a href="{{comercio.redessociales.instagram}}" target="_blank" class="pl-3 pr-3"><span class="icon-instagram"></span></a>{% endif %}
    {% if comercio.redessociales.twitter != '' %}<a href="{{comercio.redessociales.twitter}}" target="_blank" class="pl-3 pr-3"><span class="icon-twitter"></span></a>{% endif %}
    {% if comercio.redessociales.twitch != '' %}<a href="{{comercio.redessociales.twitch}}" target="_blank" class="pl-3 pr-3"><span class="icon-twitch"></span></span></a>{% endif %}
    {% if comercio.redessociales.tiktok != '' %}<a href="{{comercio.redessociales.tiktok}}" target="_blank" class="pl-3 pr-3"><i class="fab fa-tiktok"></i></span></a>{% endif %}
{% endblock %}

{% block contactoEmpresa %}
    <p class="mb-0 float-right">
        {% if comercio.contacto.telefono != '' %}
            <span class="mr-3">
                <a href="tel://{{comercio.contacto.telefono}}"> 
                    <span class="icon-phone mr-2" style="position: relative; top: 2px;"></span>
                    <span class="d-none d-lg-inline-block text-black">{{comercio.contacto.telefono}}</span>
                </a>
            </span>
        {% endif %}
        {% if comercio.contacto.email != '' %}
            <span>
                <a href="mailto:{{comercio.contacto.email}}">
                    <span class="icon-envelope mr-2" style="position: relative; top: 2px;"></span>
                    <span class="d-none d-lg-inline-block text-black">{{comercio.contacto.email}}</span>
                </a>
            </span>
        {% endif %}
    </p>
{% endblock %}

{% block customcss %}
    <style>
        .site-blocks-cover h1 {
            font-size: 3.5rem;
            font-weight: 400;
            color: #fff;
            font-weight: 900;
        }
    </style>
{% endblock %}

{% block customContent %}
    <div class="site-blocks-cover overlay" style="background-image: url({{comercio.img_superior.url}});" data-aos="fade" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-12" data-aos="fade-up" data-aos-delay="400">
                    <div class="row mb-4">
                        <div class="col-md-12">
                            <h1>{{comercio.eslogan}}</h1>
                            <div>
                                <a href="#products-section" class="btn btn-white btn-outline-white py-3 px-5 rounded-0 mb-lg-0 mb-2 d-block d-sm-inline-block">Ver productos</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="site-section" id="about-section">
        <div class="container">
            <div class="row align-items-lg-center">
                <div class="col-md-6 mb-5 mb-lg-0 position-relative">
                    <img src="{{comercio.img_acercade.url}}" class="img-fluid" alt="Image">
                    <div class="experience">
                    <span class="year">Acerca de nosotros</span>
                    <span class="caption"></span>
                    </div>
                </div>
                <div class="col-md-6 ml-auto">
                    {% comment %} <h3 class="section-sub-title">Merchant Company</h3>
                    <h2 class="section-title mb-3">About Us</h2> {% endcomment %}
                    <p class="mb-4">{{comercio.descripcion}}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="site-section" id="products-section">
        {{producto}}
        <div class="container">
            <div class="row mb-5 justify-content-center">
                <div class="col-md-6 text-center">
                    <h3 class="section-sub-title">Listado productos</h3>
                    <h2 class="section-title mb-3">Nuestros productos</h2>
                </div>
            </div>
            <div class="row">
                {% for producto in productos %}
                    <div class="col-lg-4 col-md-6 mb-5">
                        <div class="product-item">
                            <figure>
                                <img src="https://colorlib.com/preview/theme/selling/images/model_1_bg.jpg" alt="Image" class="img-fluid">
                            </figure>
                            <div class="px-4">
                                <h3><a href="{% url 'comercio:producto' pk=producto.id prod_slug=producto.nombre|slugify  %}">{{producto.nombre}}</a></h3>
                                {% comment %} <div class="mb-3">
                                    <span class="meta-icons mr-3"><a href="#" class="mr-2"><span class="icon-star text-warning"></span></a> 5.0</span>
                                    <span class="meta-icons wishlist"><a href="#" class="mr-2"><span class="icon-heart"></span></a> 29</span>
                                </div> {% endcomment %}
                                <p class="mb-4">{{producto.descripcion|slice:"0:60"}}...</p>
                                <div>
                                    {% comment %} <a href="#" class="btn btn-black mr-1 rounded-0">Cart</a> {% endcomment %}
                                    <button type="button" class="btn btn-black btn-outline-black ml-1 rounded-0" data-toggle="modal" data-target="#staticBackdrop" onclick="datosVistaRap({{producto.id}})">Vista rápida</button>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" id="{{producto.id}}_nombre" value="{{producto.nombre}}">
                        <input type="hidden" id="{{producto.id}}_precio" value="{{producto.precio}}">
                        <textarea style="display:none;" id="{{producto.id}}_descripcion" >{{producto.descripcion}}</textarea>
                    </div>
                {% endfor%}

            </div>
        </div>
    </div>
{% endblock %}

{% block customjs %}
    <script>
        function datosVistaRap(id){
            $("#VR_nombre").html($(`#${id}_nombre`).val())
            $("#VR_descripcion").html("<p>"+$(`#${id}_descripcion`).val()+"</p>")
            $("#VR_precio").html("₡"+$(`#${id}_precio`).val())
        }
    </script>
{% endblock %}