{% extends 'coreComercios/base.html' %}
{% load static %}

{% block title %}{{producto.nombre}} | {{ comercio.nombre }}{% endblock %}
{% block customHead %}
    <meta name="description" content="{{comercio.eslogan}}"/>
{% endblock %}
{% block nombreEmpresa %}<h1 class="mb-0 site-logo"><a href="{% url 'comercio:comercio' comercio_slug=comercio.slug|slugify %}" class="text-black mb-0">{{ comercio.nombre }}</a></h1>{% endblock %}

{% block Social1Empresa %}
    <ul class="social-media">
        <li><a href="{% url 'comercio:comercio' comercio_slug=comercio.slug|slugify %}" class=""><i class="fas fa-store"></i></a></li>
        {% if comercio.redessociales.facebook != '' %}<li><a href="{{comercio.redessociales.facebook}}" target="_blank" class=""><span class="icon-facebook"></span></a></li>{% endif %}
        {% if comercio.redessociales.instagram != '' %}<li><a href="{{comercio.redessociales.instagram}}" target="_blank" class=""><span class="icon-instagram"></span></a></li>{% endif %}
        {% if comercio.redessociales.twitter != '' %}<li><a href="{{comercio.redessociales.twitter}}" target="_blank" class=""><span class="icon-twitter"></span></a></li>{% endif %}
        {% if comercio.redessociales.twitch != '' %}<li><a href="{{comercio.redessociales.twitch}}" target="_blank" class=""><span class="icon-twitch"></span></a></li>{% endif %}
        {% if comercio.redessociales.tiktok != '' %}<li><a href="{{comercio.redessociales.tiktok}}" target="_blank" class=""><i class="fab fa-tiktok"></i></a></li>{% endif %}
    </ul>
{% endblock %}

{% block Social2Empresa %}
    {% if comercio.redessociales.facebook != '' or comercio.redessociales.instagram != '' or comercio.redessociales.twitter != '' or comercio.redessociales.twitch != '' or comercio.redessociales.tiktok != '' %}
        <h2 class="footer-heading mb-4">Síguenos</h2>
    {% endif %}
    {% if comercio.redessociales.facebook != '' %}<a href="{{comercio.redessociales.facebook}}" target="_blank" class="pl-0 pr-3"><span class="icon-facebook"></span></a>{% endif %}
    {% if comercio.redessociales.instagram != '' %}<a href="{{comercio.redessociales.instagram}}" target="_blank" class="pl-3 pr-3"><span class="icon-instagram"></span></a>{% endif %}
    {% if comercio.redessociales.twitter != '' %}<a href="{{comercio.redessociales.twitter}}" target="_blank" class="pl-3 pr-3"><span class="icon-twitter"></span></a>{% endif %}
    {% if comercio.redessociales.twitch != '' %}<a href="{{comercio.redessociales.twitch}}" target="_blank" class="pl-3 pr-3"><span class="icon-twitch"></span></span></a>{% endif %}
    {% if comercio.redessociales.tiktok != '' %}<a href="{{comercio.redessociales.tiktok}}" target="_blank" class="pl-3 pr-3"><i class="fab fa-tiktok"></i></span></a>{% endif %}
{% endblock %}

{% block contactoEmpresa %}
    <p class="mb-0 float-right">
        {% if comercio.contacto.telefono != '' %}
            <span class="mr-3">
                <a href="tel://{{comercio.contacto.telefono}}"> 
                    <span class="icon-phone mr-2" style="position: relative; top: 2px;"></span>
                    <span class="d-none d-lg-inline-block text-black">{{comercio.contacto.telefono}}</span>
                </a>
            </span>
        {% endif %}
        {% if comercio.contacto.email != '' %}
            <span>
                <a href="mailto:{{comercio.contacto.email}}">
                    <span class="icon-envelope mr-2" style="position: relative; top: 2px;"></span>
                    <span class="d-none d-lg-inline-block text-black">{{comercio.contacto.email}}</span>
                </a>
            </span>
        {% endif %}
    </p>
{% endblock %}

{% block customContent %}
            <div class="site-section bg-light">
                <div class="container">
                    <div class="bg-white pt-6">
                        <div class="row mx-4 my-4 product-item-2 align-items-start">
                            <div class="col-md-6 mb-5 mb-md-0 order-1 order-md-2">
                                <div class="owl-carousel owl-theme">
                                    {% for img in imagenes_producto %}
                                        <img class="owl-lazy" data-src="{{img.imagen.url}}" alt="">
                                    {% endfor%}
                                </div>
                            </div>
                        
                            <div class="col-md-5 ml-auto product-title-wrap order-2 order-md-1">
                                <h3 class="text-black mb-4 font-weight-bold">{{producto.nombre}}</h3>
                                <div class="mb-4"><p>{{producto.descripcion}}</p></div>
                                
                                <div class="mb-4"> 
                                    <h3 class="text-black font-weight-bold h5">Precio:</h3>
                                    <div class="price">₡{{producto.precio}}</div>
                                </div>
                                {% comment %} <p>
                                    <a href="#" class="btn btn-black rounded-0 d-block d-lg-inline-block">Add To Cart</a>
                                </p> {% endcomment %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        
            
            <div class="site-section" id="products-section">
                <div class="container">
                    <div class="row mb-5 justify-content-center">
                        <div class="col-md-6 text-center">
                            <h3 class="section-sub-title">Productos relacionados</h3>
                            <h2 class="section-title mb-3">Productos de {{ comercio.nombre }}</h2>
                        </div>
                    </div>
                    <div class="row">
                        {% for producto in productos %}
                            <div class="col-lg-4 col-md-6 mb-5">
                                <div class="product-item">
                                    <figure>
                                        {% for img in imagenes %}
                                            {% if img.principal is True and img.producto_id is producto.id %}
                                                <img src="{{img.imagen.url}}" alt="Image" class="img-fluid">
                                            {% endif %}
                                        {% endfor%}
                                    </figure>
                                    <div class="px-4">
                                        <h3><a href="{% url 'comercio:producto' pk=producto.id prod_slug=producto.nombre|slugify  %}">{{producto.nombre}}</a></h3>
                                        {% comment %} <div class="mb-3">
                                            <span class="meta-icons mr-3"><a href="#" class="mr-2"><span class="icon-star text-warning"></span></a> 5.0</span>
                                            <span class="meta-icons wishlist"><a href="#" class="mr-2"><span class="icon-heart"></span></a> 29</span>
                                        </div> {% endcomment %}
                                        <p class="mb-4">{{producto.descripcion|slice:"0:60"}}...</p>
                                        <div>
                                            <span class="btn btn-black mr-1 rounded-0" style="cursor: default; font-weight: 100;">₡{{producto.precio}}</span>
                                            <button type="button" class="btn btn-black btn-outline-black ml-1 rounded-0" data-toggle="modal" data-target="#staticBackdrop" onclick="datosVistaRap({{producto.id}})">Vista rápida</button>
                                        </div>
                                    </div>
                                </div>
                                <input type="hidden" id="{{producto.id}}_nombre" value="{{producto.nombre}}">
                                <input type="hidden" id="{{producto.id}}_precio" value="{{producto.precio}}">
                                <textarea style="display:none;" id="{{producto.id}}_descripcion" >{{producto.descripcion}}</textarea>
                                <textarea style="display:none;" id="{{producto.id}}_imagenes" >
                                    [
                                        ""
                                        {% for img in imagenes %}
                                            {% if img.producto_id is producto.id %}
                                            , "{{img.imagen.url}}"
                                            {% endif %}
                                        {% endfor%}
                                    ]
                                </textarea>
                            </div>
                        {% endfor%}
                    </div>
                </div>
            </div>
{% endblock %}

{% block customjs %}
    <script>
        function datosVistaRap(id){
            $("#VR_nombre").html($(`#${id}_nombre`).val())
            $("#VR_descripcion").html("<p>"+$(`#${id}_descripcion`).val()+"</p>")
            $("#VR_precio").html("₡"+$(`#${id}_precio`).val())
            var imagenes = JSON.parse($(`#${id}_imagenes`).val())

            var VR_imagenes = ''
            imagenes.forEach(function (img, index) {
                if(img != ''){
                    console.log(img)
                    VR_imagenes = `${VR_imagenes}
                        <img class="owl-lazy" data-src="${img}" alt="">
                    `
                }
            })
            $("#VR_imagenes").html(VR_imagenes)
            reiniciarOwlCarrousel()
        }
    </script>
{% endblock %}